---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="section-contact-hero">
    <div class="page-padding">
      <div class="container-xlarge">
        <div class="padding-vertical padding-xxhuge">
          <div class="contact-hero-grid">
            <div
              id="w-node-a3d42a22-f85a-3070-62c4-a7f9b089bd31-1fd055fe"
              class="contact-hero-grid-left"
            >
              <div class="margin-bottom margin-small">
                <div class="text-meta-wrapper">
                  <div class="text-meta-line"></div>
                  <div class="text-meta">Contact</div>
                </div>
              </div>
              <div class="margin-bottom margin-large">
                <h1 class="heading-large text-uppercase">
                  N'HÉSITEZ PAS À NOUS CONTACTER.
                </h1>
              </div>
            </div>
            <div
              id="w-node-a3d42a22-f85a-3070-62c4-a7f9b089bd3a-1fd055fe"
              class="contact-hero-grid-right"
            >
              <div class="contact-form-wrapper w-form">
                <form
                  id="contact-form"
                  name="wf-form-Contact-Form"
                  data-name="Contact Form"
                  method="get"
                  class="form"
                  data-wf-page-id="65244b04702c3a961fd055fe"
                  data-wf-element-id="a3d42a22-f85a-3070-62c4-a7f9b089bd3c"
                >
                  <div class="form-field-wrapper">
                    <input
                      type="text"
                      class="form-input w-input"
                      maxlength="256"
                      name="NOM-COMPLET"
                      data-name="NOM COMPLET"
                      placeholder="Votre Nom Complet"
                      id="NOM-COMPLET"
                      required=""
                    />
                  </div>
                  <div class="form-field-wrapper">
                    <input
                      type="text"
                      class="form-input w-input"
                      maxlength="256"
                      name="EMAIL"
                      data-name="EMAIL"
                      placeholder="Votre Email"
                      id="EMAIL-3"
                      required=""
                    />
                  </div>
                  <div class="form-field-wrapper">
                    <input
                      type="text"
                      class="form-input is-text-area w-input"
                      maxlength="256"
                      name="Message"
                      data-name="Message"
                      placeholder="Votre Message"
                      id="Message"
                    />
                  </div>
                  <div class="form-button-wrapper">
                    <input
                      type="submit"
                      value="ENVOYER"
                      data-wait="ATTENDRE SVP..."
                      class="button primary w-button"
                    />
                  </div>
                </form>
                <div class="form-message-success w-form-done">
                  <div>Merci! Votre message a été bien reçu!</div>
                </div>
                <div class="form-message-error w-form-fail">
                  <div>
                    Oops! Le formulaire n'a pas été envoyé correctement,
                    réessayez ou contactez-nous directement sur
                    contact@samanhalagarden.ma
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-contact-socials">
    <div class="page-padding">
      <div class="container-xlarge">
        <div class="padding-vertical padding-large">
          <div class="contact-socials-grid">
            <h2
              id="w-node-_1424490b-2460-e222-dddb-4eb8011dd265-1fd055fe"
              class="heading-h3 text-uppercase"
            >
              Follow US
            </h2>
            <div
              id="w-node-_4facc9a8-a809-1bef-3094-56a385055585-1fd055fe"
              class="subnav"
            >
              <div class="text-meta-wrapper">
                <div class="text-meta-line"></div>
				<a href="https://www.instagram.com/" target="_blank" class="text-meta">
					Instagram
				</a>
              </div>
              <div class="text-meta-wrapper">
                <div class="text-meta-line"></div>
				<a href="https://twitter.com/" target="_blank" class="text-meta">
				  Twitter
				</a>
              </div>
              <div class="text-meta-wrapper">
                <div class="text-meta-line"></div>
                <a href="https://linkedin.com/" target="_blank" class="text-meta">
				  LINKEDIN
				</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
