---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="section-work-heading">
    <div class="page-padding">
      <div class="padding-vertical padding-xxlarge">
        <div class="text-align-center">
          <div class="clip">
            <h1
              data-w-id="71e48d28-25f7-e8e7-a940-24aacac27ecc"
              style="-webkit-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
              class="heading-large text-uppercase"
            >
              nos travaux
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-work-projects">
    <section class="section-marquee">
      <div class="line"></div>
      <div class="marquee-inner">
        <div class="marquee-heading">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading text-outline">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading text-outline">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <h2 class="marquee-heading">PROJETS RÉCENTS</h2>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading text-outline">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading text-outline">PROJETS RÉCENTS</div>
        <div class="marquee-heading text-outline">·</div>
        <div class="marquee-heading">PROJETS RÉCENTS</div>
      </div>
    </section>
    <div class="page-padding">
      <div class="container-xlarge">
        <div class="div-block-2">
          <img
            src="../uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65259cb84976b49df5bf4ec8_greenwall1112.webp"
            loading="lazy"
            width="1605"
            id="w-node-d3148c77-cc14-ac38-1c36-b7b454b05676-1fd05604"
            alt="Jardin vertical dans un bureau aux Maroc, mur végétal - Détail de la verdure dans un environnement de travail au Maroc."
            srcset="https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65259cb84976b49df5bf4ec8_greenwall1112-p-500.webp 500w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65259cb84976b49df5bf4ec8_greenwall1112-p-800.webp 800w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65259cb84976b49df5bf4ec8_greenwall1112-p-1080.webp 1080w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65259cb84976b49df5bf4ec8_greenwall1112.webp 1600w"
            sizes="(max-width: 479px) 40vw, (max-width: 767px) 42vw, (max-width: 991px) 43vw, 44vw"
          /><img
            src="../uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6525b2dbd271b9b0ca8acbd7_greenwall111.jpg"
            loading="lazy"
            width="1600"
            id="w-node-b5aa1e25-0284-5f73-54f2-4ddeb4046d4d-1fd05604"
            alt="Jardin intérieur au Maroc - Mur végétal dans un cadre mural."
            srcset="https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6525b2dbd271b9b0ca8acbd7_greenwall111-p-500.jpeg 500w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6525b2dbd271b9b0ca8acbd7_greenwall111-p-800.jpeg 800w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6525b2dbd271b9b0ca8acbd7_greenwall111.jpeg 1600w"
            sizes="(max-width: 479px) 40vw, (max-width: 767px) 42vw, (max-width: 991px) 43vw, 44vw"
          /><img
            src="../uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6523a6f6840a341086e3ef3c_img3.jpg"
            loading="lazy"
            width="1600"
            id="w-node-b1ef1d7b-40aa-a73f-5631-243e856a748c-1fd05604"
            alt="Mur végétal apaisant dans la salle de détente de l'entreprise Marocaine."
            srcset="https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6523a6f6840a341086e3ef3c_img3-p-500.jpeg 500w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6523a6f6840a341086e3ef3c_img3-p-800.jpeg 800w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6523a6f6840a341086e3ef3c_img3-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6523a6f6840a341086e3ef3c_img3-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6523a6f6840a341086e3ef3c_img3.jpeg 2000w"
            sizes="(max-width: 479px) 40vw, (max-width: 767px) 42vw, (max-width: 991px) 43vw, 44vw"
          />
        </div>
        <div class="padding-bottom padding-xhuge"></div>
      </div>
    </div>
  </section>
  <section class="section-cta-contact">
    <section class="section-marquee-secondary">
      <div class="marquee-secondary-inner">
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
        <div class="marquee-secondary-text">·</div>
        <div class="marquee-secondary-text">travaillons ensemble</div>
      </div>
    </section>
    <div class="page-padding">
      <div class="padding-vertical padding-xhuge">
        <div class="text-align-center">
          <div class="margin-bottom margin-small">
            <div class="clip">
              <img
                src="../uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/6515dd5a0ce6a5d808b42fd1_icon-star.svg"
                loading="lazy"
                data-w-id="c3ebfd35-788b-4e4b-368b-61210c6e6201"
                alt=""
              />
            </div>
          </div>
          <div class="margin-bottom margin-medium">
            <div class="clip">
              <div
                data-w-id="beb4f325-96f3-f38a-2726-214cc3afe6d4"
                class="heading-medium text-uppercase"
              >
                créons ensemble
              </div>
            </div>
            <div class="clip">
              <div
                data-w-id="e755d7fd-2456-6e45-d16f-f4c9e63f78c1"
                class="heading-medium text-uppercase"
              >
                votre nouveaux oasis
              </div>
            </div>
          </div>
          <div data-w-id="30fc7363-35e5-00af-1a6f-8c352a9ea222">
            <a href="contact.html" class="button secondary w-inline-block">
              <div class="button-inner">
                <div class="button-line-left"></div>
                <div class="button-inner-text">demander un devis</div>
                <div class="button-line-right"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
