---
const today = new Date();
---

<!-- &copy; {today.getFullYear()} Your name here. All rights reserved. -->
<div class="footer">
  <div class="page-padding">
    <div class="container-xlarge">
      <div class="padding-vertical padding-huge">
        <div class="footer-grid">
          <div
            id="w-node-d9c9ab67-8e86-f109-6dc0-dc7d3fc48d59-3fc48d54"
            class="footer-grid-left"
          >
            <a
              href="index.html"
              aria-current="page"
              class="w-inline-block w--current"
              ><img
                src="../uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65242ce423c6ae268fd9ef6c_LOGOreversed.svg"
                loading="lazy"
                alt=""
              /></a
            >
          </div>
          <div
            id="w-node-d9c9ab67-8e86-f109-6dc0-dc7d3fc48d5c-3fc48d54"
            class="footer-grid-right"
          >
            <div
              id="w-node-d9c9ab67-8e86-f109-6dc0-dc7d3fc48d5d-3fc48d54"
              class="footer-grid-right-inner"
            >
              <div
                id="w-node-d9c9ab67-8e86-f109-6dc0-dc7d3fc48d5e-3fc48d54"
                class="footer-column"
              >
                <div class="margin-bottom margin-medium">
                  <h3 class="heading-h6 text-uppercase">Pages</h3>
                </div>
                <div class="nav">
                  <a
                    href="/"
                    aria-current="page"
                    class="nav-item inverse w-inline-block w--current"
                  >
                    <div class="nav-item-text">page d'accueil</div>
                    <div class="nav-item-line inverse"></div>
                  </a>
                  <a href="/work/" class="nav-item inverse w-inline-block">
                    <div class="nav-item-text">NOS TRAVAUX</div>
                    <div class="nav-item-line inverse"></div>
                  </a>
                  <a
                    href="/contact/"
                    class="nav-item inverse w-inline-block"
                  >
                    <div class="nav-item-text">CONTACT</div>
                    <div class="nav-item-line inverse"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-padding">
    <div class="container-xlarge">
      <div class="padding-bottom padding-large">
        <div class="footer-bottom">
          <div class="text-meta inverse-text-color-muted">
            © Made by<a
              href="https://www.arlibera.ma/"
              target="_blank"
              class="text-style-link">ARLIBERA</a
            >. {today.getFullYear()} All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
