<header class="header">
  <div class="navbar">
    <div class="page-padding">
      <header class="navbar-inner">
        <div
          id="w-node-a26b06a4-2c02-bc86-9274-74360e531fd7-0e531fd2"
          class="navbar-left"
        >
          <div class="navbar-logo">
            <a href="/" aria-current="page" class="w-inline-block w--current">
              <img
                src="../uploads-ssl.webflow.com/6515dd5a0ce6a5d808b42f31/65242c463e723630ad0ba4e2_LOGO.svg"
                loading="eager"
                alt=""
                class="navbar-logo-image"
              />
            </a>
          </div>
        </div>
        <div
          id="w-node-a26b06a4-2c02-bc86-9274-74360e531fdb-0e531fd2"
          class="navbar-right"
        >
          <nav class="navbar-menu">
            <a href="/work/" class="navbar-menu-item-link w-inline-block">
              <div class="navbar-menu-item-inner">
                <div>NOS TRAVAUX</div>
                <div class="navbar-menu-item-line"></div>
              </div>
            </a>
            <a href="/contact/" class="navbar-menu-item-link w-inline-block">
              <div class="navbar-menu-item-inner">
                <div>CONTACT</div>
                <div class="navbar-menu-item-line"></div>
              </div>
            </a>
            <a
              href="https://webflow.com/dashboard/sites/new?p=solveig-template"
              class="navbar-menu-item-link w-inline-block"
            >
              <div class="navbar-menu-item-inner">
                <div class="navbar-menu-item-line"></div>
              </div>
            </a>
          </nav>
          <div class="navbar-right-button">
            <a
              href="https://templates.gola.io/"
              target="_blank"
              class="button secondary w-inline-block"
            >
              <div class="button-inner">
                <div class="button-line-left"></div>
                <div class="button-inner-text">demander un devis</div>
                <div class="button-line-right"></div>
              </div>
            </a>
          </div>
          <div
            data-w-id="a26b06a4-2c02-bc86-9274-74360e531fee"
            class="mobile-menu-toggle"
          >
            <div class="mobile-menu-toggle-line _01"></div>
            <div class="mobile-menu-toggle-line _02"></div>
            <div class="mobile-menu-toggle-line _03"></div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="page-padding">
      <div class="container-xxlarge">
        <div class="mobile-menu-wrapper">
          <div class="mobile-menu-nav">
            <a
              href="/"
              aria-current="page"
              class="mobile-menu-nav-link w-inline-block w--current"
            >
              <div class="mobile-menu-nav-text">PAGE D'ACCUEIL</div>
            </a><a href="/work/" class="mobile-menu-nav-link w-inline-block">
              <div class="mobile-menu-nav-text">NOS TRAVAUX</div>
            </a><a href="/contact/" class="mobile-menu-nav-link w-inline-block">
              <div class="mobile-menu-nav-text">CONTACT</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
